@import url(style.css);

/* SIDE NAV */
.timelinenav {
    background-color: none;
    position: fixed;
    top: 30vh;
    left: 1vw;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-between;
}

.vl {
    border-left: 3px solid rgb(161, 96, 38);
    height: 5vh;
    margin-left: 2vw;
}

/* TEXT */
.timelinebody {
    margin: 3vw 2vw 0 10vw
}

h4 {
    color: rgb(161, 96, 38);
    padding-top: 8vh;
}

p {
    text-align: right; 
}

/* IMAGES */
.timelineimg {
    height: 40vw;
    padding-bottom: 10vw;
}

