@import url(style.css);

h2 {
    padding-top: 25px;
    color: rgb(255, 232, 192);
}

form {
    justify-content: space-evenly;
    border-radius: 35px;
    /* background-color: rgb(255, 232, 192); */
    border: 2px solid rgb(161, 96, 38);
    margin-bottom: 20px;
    padding: 10px;
}

label {
    font-family:'newsreader', serif;
}

button {
    background-color: rgb(255, 232, 192);
    font-family:'Cinzel', serif;
}

/* Background Image:
background: url(paper.gif);
background-position: left top;
background-repeat: repeat; */