/* ALL BODY */
body {
    text-align: center;
    background-color: rgb(69, 76, 26);
}

.text-tan {
    color: rgb(255, 232, 192);
}

.row {
    justify-content: space-evenly;
}

a {
    color: rgb(255, 232, 192);
}

p {
    color: rgb(255, 232, 192);
}

a:hover {
    text-decoration: none;
    color: white;
}

/* NAV BAR */
nav {
    background-color: rgb(69, 76, 26, .75);
}

/* IMAGE SCROLLING */
.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.bgimg-1 {
    background-image: url(../photos/couples%20shoes.jpg);
    height: 80vw;
}

.bgimg-2 {
    background-image: url(../photos/rings%20on%20name%20box.jpg);
    height: 40vw;
}

.bgimg-3 {
    background-image: url(../photos/humans%20getting%20married.jpg);
    height: 40vw;
}

.solidp {
    margin: 5vw;
}

/* FOOTER */
hr {
    border-width: 3px;
}
footer {
    color: rgb(227, 160, 22);
}

.fa {
    padding: 20px;
}

/* colors:
    rgb(255, 232, 192) -light tan
    rgb(227, 160, 22) -burnt yellow
    rgb(161, 96, 38) -orangey brown
    rgb(69, 76, 26) -dark brownish green
    rgb(0, 25, 48) -accent dark navy
 */

 @media only screen and (max-device-width: 1366px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }
  }