@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

/* ALL BODY */
body {
    text-align: center;
    background-color: rgb(69, 76, 26);
}

.text-tan {
    color: rgb(255, 232, 192);
}

.row {
    justify-content: space-evenly;
}

a {
    color: rgb(255, 232, 192);
    font-family:'Cinzel', serif;
}

p {
    color: rgb(255, 232, 192);
    font-family:'newsreader', serif;
    font-size: 2vh;
}

a:hover {
    text-decoration: none;
    color: white;
}

h1 {
    font-family:'newsreader', serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 7vh;
}

h2 {
    font-family:'newsreader', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 5vh;
}

h4 {
    font-family:'Cinzel', serif;
    font-size: 3vh;
}

h5 {
    font-family:'newsreader', serif;
    font-weight: bold;
}

/* NAV BAR */
nav {
    background-color: rgb(69, 76, 26, .75);
}

/* IMAGE SCROLLING */
.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.bgimg-1 {
    background-image: url(../photos/couples%20shoes.jpg);
    height: 95vh;
}

.bgimg-2 {
    background-image: url(../photos/rings%20on%20name%20box.jpg);
    height: 40vh;
}

.bgimg-3 {
    background-image: url(../photos/humans%20getting%20married.jpg);
    height: 50vh;
}

.solidp {
    margin: 10vh;
}

/* FOOTER */
hr {
    border-width: 3px;
}
footer {
    color: rgb(227, 160, 22);
}

.fa {
    padding: 20px;
}

span {
    font-family:'Cinzel', serif;
}

/* colors:
    rgb(255, 232, 192) -light tan
    rgb(227, 160, 22) -burnt yellow
    rgb(161, 96, 38) -orangey brown
    rgb(69, 76, 26) -dark brownish green
    rgb(0, 25, 48) -accent dark navy
*/

@media only screen and (max-device-width: 1366px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }
  }